#service-description
  %p
    A田ちゃんが、GoogleカレンダーのイベントをyouRoomにお知らせします。<br />
  %p
    以下のリンクをクリックして、youRoomアカウントでログインしてください。<br />
    "Allow"をクリックすると、このサービスに遷移します。
#sign-in
  = link_to "Sign in with youRoom", verify_youroom_oauth_index_url()
