<div class="row">
  <div class="span16">
    <h3>このサービスは</h3>
      <div class="span15 offset1">
  毎朝、開始日が近いGoogleカレンダーのイベントがあればyouRoomに投稿します。<br/>
    <br/>
    <div class="row">
      <div class="span6"><%= image_tag('attentive-ada.png', :size => '300x300') %></div>
      <div class="span9">
        <dl>
          <dt>通知設定を登録したら</dt>
            <dd>通知対象のGoogleカレンダー</dd>
            <dd>投稿先ルーム</dd>
            <dd>タイミング(開始当日・前日・2日前)</dd>
            <dd>添える一言</dd>
        </dl>
        <dl>
          <dt>こんな風に便利</dt>
            <dd>チームで・・・「【明日は】書類の提出期限」「【本日】飲み会ですよ！」</dd>
            <dd>ご家庭で・・・「【本日】不燃ゴミの日」</dd>
            <dd>カレンダーを共有しなくても、ルームメンバー全員にお知らせできます。</dd>
            <dd>youRoomでコメントできます(「提出しました」「楽しみ！」)。</dd>
        </dl>
      </div>
    </div>
    <br/>
    <strong>注：このサービスは開発途中です。<br/></strong>
    予告なく停止、仕様変更されうることをご承知おきください。<br/>
    基本的な機能は動作しますが、エラー処理・セキュリティ対応等は不十分であることをご理解のうえ、ご自身の責任で利用してください。<br/>
    ソースコードを<a href="https://anarchiStraw@github.com/anarchiStraw/ada.git" target="_blank">Github</a>で公開しています。<br/><br/>
  </div>
</div>
