<div class="row">
  <div class="span16">
  <h3>ご意見・ご質問は</h3>
    <div id="youroom-form-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>公開ルーム「助かる庶務のA田ちゃん」に投稿します</h3>
      </div>
      <form action="/notice_settings/new" method="GET">
        <div class="modal-body">
          <input type="radio" id="participate_options" name="participate_options" selected value="yes">ルームに参加する</input>    お名前<input type="text" name="participate_as" /><br/>
          <input type="radio" id="participate_options" name="participate_options" value="no">参加しない</input>  (管理人名義の投稿になります)<br/>
          <script type="text/javascript">
            $(function(){
            	$("#entry_content").bind("change keyup",function(){
              	var count = $(this).val().length;
                var max = 280;
                $("#character-count").text(max - count);
                if (max < count) {
                  $("#character-count").css("color", "red");
                } else {
                  $("#character-count").css("color", "black");
                }
            	});
            });
          </script>
          メッセージ：<textarea class="limit entry_content help" cols="43" id="entry_content" name="entry[content]" rows="4"></textarea><span class="count_display" id="character-count" style="color:white;">0</span>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn primary" value="投稿">
        </div>
      </form>
    </div>
    <div class="span15 offset1">
<a href="http://www.youroom.in/r/14269" target="_blank">youRoomの公開ルーム</a>にお寄せください。<!--<span  class="label notice"><a data-controls-modal="youroom-form-modal" data-backdrop="static" data-keyboard="true" class="color:#ffffff;">投稿フォーム</a></span>-->
    </div>
  </div>
</div>