#footer.ui-corner-all
  //  #our_links
  //    = link_to "About us", about_us_path
  //    = link_to "Update", "http://twitter.com/youroom", :target => "_blank"
  //    = link_to "Contact", "mailto:info@youroom.in", :target => "_blank"
  //    = link_to "Terms", terms_of_service_path
  //    = link_to "Privacy", privacy_path
  //  #copyright
  //    &copy;
  //    2009 - #{Time.now.strftime('%Y')}
  //    = link_to "SonicGarden", about_us_path

#feedback

